
body {
    margin:0px;
    font-family: 'Titillium Web', sans-serif;
    background-color: $offwhite;
    //animation: changeGradient 10s ease-in-out infinite;
}
.btn {
  background-color: $main;
  border: none;
  outline: none;
  color: white;
  height: 42px;
  font-size: 1em;
  transition: 0.5s;
  &:hover {
    background-color: $alt-main;
    cursor: pointer;
  }
}

.one-column {
  display: grid;
  grid-template-columns: 1fr;
}
.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.three-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}