body {
    margin:0px;
    font-family: 'Titillium Web', sans-serif;
}
.btn {
  background-color: $blue;
  border: none;
  outline: none;
  color: white;
  height: 42px;
  font-size: 1em;
  transition: 0.5s;
  &:hover {
    background-color: $dark-blue;
    cursor: pointer;
  }
}
.container {
    display:grid;
}