@mixin spacing() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin columns($num) {
  display: grid;
  grid-template-columns: repeat($num, 1fr);
}