.nav-wrapper {
  @include spacing();
  background-color: white;
  text-transform: uppercase;
  font-size: 0.93rem;
  padding: 35px;
  .left {
    @include spacing();
    width: 242px;
    .nav-link {
      border-bottom: 1px solid transparent;
      transition: 0.5s ease-in-out;
      a { 
        text-decoration: none;
        color: $grey;
      }
      &:hover {
        a {
         color: black;
        }
        border-bottom: 1px solid black;
      }
      .nav-link-active {
        color: black;    
        border-bottom: 1px solid black;
      }
    }
  }
}