.post-container {
  .post-btn-container {
      @include center();
        .post-btn-wrapper {
          a {
            position: fixed;
            bottom: 0;
            right: 0;
            margin-right: 30px;
            margin-bottom: 10px;      
            transition: 0.5s;
            color: $main;
            font-size: 3.5em;
            &:hover {
              cursor: pointer;
              transform: rotate(-225deg);
              color: $alt-main;
            }
          
        }
      }
    }
}
.icon-wrapper {
  @include center();
  font-size: 3em;
  svg {
    color: $blue;
  }
}

@media (max-width: 531px) {
  .filter-container {
    .filter-wrapper {
      flex-direction: column;
      .btn {
        border-bottom: 1px solid grey;
        border-left: none;
        border-right: none;
        border-collapse: collapse;
      }
    }
  }

}