.post-item-container {
  overflow-x: hidden;
  margin: 25px;

}
.post-item-wrapper {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-gap: 150px;
  box-shadow: 0px 3px 40px 1px rgb(32 23 23 / 14%);
  padding: 30px;
  width:calc(100vw - 110px);
  a {
    color: $blue;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      color: $dark-blue;
    }
  }
  .featured-image-wrapper {
    
    @include center();
    div {
      border: 1px solid $blue;
      background-size: cover;
      background-position: center;
      //margin-top: 20px;
      border-radius: 10px;
      width: 500px;
      height: 200px;
    }
  }
}
.null-img {
  div {
  border: 1px solid $blue;
  height: 140px;
  }
}
@media (max-width: 531px) {
  .post-item-container {
    h1 {
      font-size: 1.5em;
    }
  }
}