.post-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 50px;
  .post-wrapper {
    @include center();
    position: relative;
    
    .posts {
      width: 50%;
      border: 1px solid transparent;
      padding: 20px;
      padding-top: 0px;
      padding-bottom: 0px;  
      border-radius: 0px;
    }

  }

  .post-btn-wrapper {
      @include center();
      
      .post-btn {
        position: fixed;
        transition: 0.5s;
        bottom: 0;
        right: 0;
        margin-right: 30px;
        margin-bottom: 10px;
        color: $main;
        font-size: 3.5em;
        &:hover {
          cursor: pointer;
          transform: rotate(-225deg);
          color: $alt-main;
        }
      }
    }
}
.icon-wrapper {
  @include center();
  font-size: 3em;
  svg {
    color: $blue;
  }
}
.post-detail-container {
  background-color: white;
}

.post-item-container {
  
  @include center();
  width: 100%;
}
.post-item-wrapper {
  background-color: white;
  box-shadow: 0px 3px 40px 1px rgb(32 23 23 / 14%);
  border-radius: 20px;
  margin-top: 20px;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
  width:100%;
  a {
    color: $blue;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      color: $dark-blue;
    }
  }
  .featured-image-wrapper {
    div {
      border: 1px solid $blue;
      background-size: cover;
      background-position: center;
      margin-top: 20px;
      border-radius: 10px;
      width: 100%;
      height: 400px;
    }
  }
}
.post-detail-container {
  background: linear-gradient($offwhite, $offwhite);
  background-size: cover;
  background-attachment: fixed;
  @include center();
  flex-direction: column;
  .post-detail-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 50px;
    background-color:white;
    width: 700px;
    box-shadow: 0px 3px 40px 1px rgb(32 23 23 / 14%);
    border-radius: 10px;
    padding: 50px;
    .featured-image-wrapper {
      border:1px solid $main;
      border-radius: 10px;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 400px;
    }
  }
}